@media all and (min-width: 1024px) {
    .photo{
        flex-basis: 49%;
        height: auto;
     }
     
     .github i {
         font-size: 30px;
     }
 }

 @media all and (max-width: 982px) {
    .photo{
        flex-basis: 100%;
     }

     .btn {
        display: none;
    }
     .about {
        flex-basis:100%;
        padding: 0px 30px 0px 30px !important;
     }
     .card {
        flex-basis: 70%;   
    }

    #contact form input {
        flex-basis: 100%;
    }
    #contact form textarea {
        flex-basis: 100%;
    }
 }

  
@media all and (max-width: 768px) {

    .photo {
        flex-basis: 100%;
    }

    .btn {
        display: none;
    }

    .about {
        flex-basis:100%;
        padding: 0px 30px 0px 30px !important;
    }

    .about p {
        font-size: 25px;
    }

    .document {
        padding: 0px 40px 0px 70px !important;
        margin-top: 50px !important;
    }
    .project-item {
        flex-basis:90%;
    }
    
    .icons {
        margin: 0px !important;
    }

    .can {
        margin: 0px !important;
        flex-basis: 30%;
    }

    #contact form {
        width:70%;
    }

    #contact .send  {
        flex-basis: 60%;
        padding: 10px !important;
    }
    
}

 @media all and (max-width: 480px) {

    .main-container {
        padding-top: 10px !important;
    }

    h2 {
        font-size: 60px;
        padding-top: 80px;
    }
    h4 {
        font-size: 30px;
    }

    .btn {
        display: none;
    }
    
    .photo {
        width:100%;
    }

    .photo img {
        width: 300px;
        height:300px;

    }
    .about {
        flex-basis:100%;
        padding: 10px !important;
    }
    .card{
        flex-basis:100%;
    }
    .can {
        margin: 0px 10px 0px 10px !important;
        flex-basis: 50%;    
    }

    .skill1, .skill2, .skill3, .skill4, .skill5, .learn1, .learn2, .learn3 {
        padding: 30px !important;
        
    }

    #contact form {
        width: 70%;
        padding-bottom: 30px !important;
    }
    #contact .send  {
        flex-basis: 40%;
        padding: 10px !important;
    }
}

@media all and (max-width: 320px) {

    h2 {
        font-size: 50px;
        padding-top: 20px;
    }
    h4 {
        padding-top: 20px !important;
        font-size: 30px;
    }

    .skills {
        padding-top: 10px !important;
    }

    .skill1, .skill2, .skill3, .skill4, .skill5 {
        padding: 10px !important;
    }

    .document {
        padding: 0px 20px 0px 40px !important;
    }
    .document .cv p, .document .git p {
        font-size: 20px;
    }
    .cv i, .git i{
        font-size: 40px;
    }

    .cv {
        padding-right:20px;
    }
    .can {
        display:contents;
    }

    .learning {
        flex-basis: 50%;
    }
}
